body {
  margin: 0;
}
header {
  text-align: center;
}
header h3 {
  color: green;
  background-color: rgb(240, 240, 165, 0.3);
  padding: 1.25rem;
  border-top: solid 0.15rem rgb(249, 213, 94);
}

main {
  padding: 0 30%;
}
.focaccia {
  border-radius: 10px;
  width: 100%;
}
.center {
  text-align: center;
  margin: 0;
}

h1 {
  text-align: center;
}
